<!-- Copyright 2021 Intelligent Robotics Lab -->
<launch>
  <node pkg="br2_vff_avoidance" type="avoidance_vff" name="avoidance_vff" output="screen">
    <param name="use_sim_time" value="true"/>
    <remap from="input_scan" to="/scan_raw"/>
    <remap from="output_vel" to="/cmd_vel"/>
  </node>
</launch>
